name: Forward Contact Issue to Telegram

on:
  issues:
    types: [opened]
jobs:
  forward-message:
    runs-on: ubuntu-latest
    steps:
      - name: Filter Issue (trigger only for contact form)
        run: |
          if [[ "${{ github.event.issue.title }}" != Contact\ Form:* ]]; then
            echo "not a contact form issue"
            exit 0
          fi

      - name: Send to Telegram
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: |
          msg="From ${{ github.event.issue.title }}%0A%0A${{ github.event.issue.body }}"
          curl -s -X POST "https://api.telegram.org/bot${TELEGRAM_TOKEN}/sendMessage" \
            -d "chat_id=${TELEGRAM_CHAT_ID}" \
            --data-urlencode "text=${msg}"
